@model MVC.Models.Actor.IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form class="d-flex mt-3" role="search" action="/Hospital/Index">
    @Html.HiddenFor(m => m.Pager.ItemsPerPage)
    @Html.TextBoxFor(m => m.Filter.First_Name, new { placeholder = "Search by First Name", @class = "form-control me-2" })
    <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
</form>

<br />

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
           Last Name
        </th>
        <th>
            MovieId
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ActorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
            </td>
        </tr>
    }



</table>

<div class="row pager">
    <div class="col-3">
        @{
            Html.RenderPartial("/Views/Shared/PagerVM.cshtml", Model.Pager);
        }
    </div>
</div>